        <item turbo="true">
            <link>{{ link }}</link>
            <turbo:source>{{ link }}</turbo:source>
            <turbo:topic>{{ title }}</turbo:topic>
            <title>{{ title }}</title>
            <pubDate>{{ pubDate }}</pubDate>
            <author>{{ author }}</author>
            <turbo:content><![CDATA[{{ content|raw }}]]></turbo:content>
        </item>
