<?xml version="1.0" encoding="UTF-8"?>
<rss {{ namespaces }} version="2.0">
    <channel>
        <title>{{ title }}</title>
        <link>{{ link }}</link>
        <description>{{ description }}</description>
        <language>{{ langcode }}</language>
        {{ items }}
    </channel>
</rss>
